@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
 
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kwgc-app {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 55px;
}