*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;
}
.main{
    width: 100%;
    height: auto;
    background-color: rgb(245, 245, 245);
    font-family: poppins;
    padding: 50px 0;
    display: grid;
    place-items: center;
}




